<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>937937492673-obmhlic8km7prtpnrtbjcne23e52uqam.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.937937492673-obmhlic8km7prtpnrtbjcne23e52uqam</string>
	<key>API_KEY</key>
	<string>AIzaSyALqXRLzeX5rmaQymbVuTizVfJk4kEEyS4</string>
	<key>GCM_SENDER_ID</key>
	<string>937937492673</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.razakhan.foryou</string>
	<key>PROJECT_ID</key>
	<string>foryou-6a90d</string>
	<key>STORAGE_BUCKET</key>
	<string>foryou-6a90d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:937937492673:ios:2b0c65994c8cf3b5d6d240</string>
</dict>
</plist>